#welcome{
	text-align:center;
}
#user{
	text-align:center;
}
#link{
	text-align:center;
}
#rr{
	margin-left:470px;
	text-align:left;
	font-size:20px;
}
#rules{
	text-align:center;
}
body{
	background-color:#85C139;
}