.opt{
	padding-top:10px;
	padding-bottom:10px;
	background-color:#A3E4D7;
	border-bottom:solid black 1px;
	border-top:solid black 1px;
}
#sub{
	margin-left:400px;
	height:50px;
	width:100px;
}
.container {
   margin:0 auto; /* this will center the page */
   width:960px; /*  use your width here */
   background-color:#3498DB;;
}
#time{
	height:50px;
	padding-top:10px;
	font-size:20px;
	padding-bottom:10px;
	text-align:center;
	background-color:#BFC9CA  ;
	border-bottom:solid black 2px;
}
